* { margin: 0px; padding: 0px; }

body { font-size: 16px; padding: 15px; padding-top: 30px; font-family: "Helvetica", sans-serif;}
#footer { padding-top: 40px; height: 50px; clear: both; text-align: center; font-style: italic; color: #aaa;}
#footer a { color: #999;}

h1, h2, h3, h4 { margin-bottom: 15px; font-family: "Gill Sans";}
h2 { margin-top: 20px;}
p, ul { margin-bottom: 10px;}
p { line-height: 1.6em;}

li { margin-bottom: 5px;}

#left { width: 200px; float: left;}
#center { width: 700px; float: left;}

#left { padding-right: 50px; text-align: right;}
#left h1 {  }
#left ul { list-style: none; }
#left li { margin-bottom: 5px;}

#now p { border: 1px solid #bfbeb5;}
#now p { font-size: 0.7em; background: #EEEDE2; padding-top: 5px; padding-right: 5px; padding-bottom: 5px;}

#cv { border: 1px solid #ccc; padding: 20px; font-family: "Georgia", serif; margin-top: 20px;}
#cv h1, #cv h2, #cv h3, #cv h4 { font-family: "Georgia";}
#cv-name { text-align: center;}
#cv h3 { font-variant: small-caps; border-top: 1px solid black; border-bottom: 1px solid #ddd; letter-spacing: 3px; padding: 3px 0px; margin-top: 20px; margin-bottom: 20px;}
#cv ul { list-style: none; }
#cv .blockitem { margin-bottom: 25px;}
#cv ul.decorated { list-style: disc; margin-left: 30px;}
#cv .date { font-style: italic; color: #999; font-weight: normal;}

div.imagebox { border: 1px solid #999; padding: 20px; padding-bottom: 0px; text-align: center; margin-bottom: 10px; background: #eee;}
div.imagebox p { text-align: center; margin-top: 10px;}

.boxarray {}
.elem { width: 200px; height: 200px; border: 1px solid #eee; float: left; font-size: 26px; font-style: italic; font-family: "Georgia"; }
.elem p { padding: 5px; line-height: 26px;}

#portfolio p.frame { padding: 3px; padding-right: 0; border: 1px solid #999; margin: 5px; line-height: 0; width: 203px;}
#portfolio p.explain { padding: 3px; font-size: 11px; padding-right: 15px;}
#portfolio h4 { padding: 3px; margin-bottom: 5px;}
#portfolio td img { margin: 0; padding: 0; border: 0;}
#portfolio td { margin: 0; padding: 0; vertical-align: top;}
#portfolio a { color: black; text-decoration: none;}
#portfolio a:hover { color: black; text-decoration: underline;}
.lowkey {color: #999;}

.picture-bar { width: 450px; float:left; }
.picture-bar img { border: 0; display: inline-block; padding: 2px;}
.picture-bar a { display: inline-block; padding: 2px;}
.picture-bar a:hover { border: 2px solid #999; padding: 0;}
.right-bar { margin-left: 470px;}
.right-bar h4 { font-variant: small-caps;}
.right-bar p { font-size: 11px;}