{% extends "skeleton/_body.html" %}
{%hyde
    title: "small red tile : Marc Pare"
    created: 2010-05-30
    listing: True
%}

{% block content_body %}

<h1>// portfolio / small red tile</h1>

<div class="picture-bar">
    <img src="media/images/portfolio/smallredtile-1.png">
    
    <img src="media/images/portfolio/srt-1-small.png" />
    <img src="media/images/portfolio/srt-2-small.png" />
    <img src="media/images/portfolio/srt-3-small.png" />
    <img src="media/images/portfolio/srt-4-small.png" />
    <img src="media/images/portfolio/srt-5-small.png" />
    <img src="media/images/portfolio/srt-6-small.png" />
    <img src="media/images/portfolio/srt-7-small.png" />
    <img src="media/images/portfolio/srt-8-small.png" />
    <img src="media/images/portfolio/srt-9-small.png" />
    <img src="media/images/portfolio/srt-10-small.png" />
</div>

<div class="right-bar">
    <h2>small red tile</h2>
    <p>improved cooking technology for rural Nicaragua. Online at <a href="http://www.smallredtile.com">smallredtile.com</a></p>
    
    <h4>challenge</h4>
    
    <p>Primitive cooking technology weighs heavily on poor communities around the world. I had the chance to spend a semester designing a solution for a rural Nicaraguan community with five friends in mechanical engineering and industrial design.</p>

    <p>The challenge came from distinctly different fronts. On the engineering front, we had a complex aero-thermal-chemical process to tune. On the design front, we had to understand cooking culture in a radically different setting than we were used to. All of this had to be accomplished in a device that could be sold to those living on less than $1 per day.</p>
    
    <h4>process</h4>
    
    <p>I architected the project. The focus was on rapid prototyping and the challenging of design assumptions.</p>

    <p>A modular testing fixture allowed us to test over 200 configurations of stoves in the refinement process. Before, though, we explored a half dozen different directions by dissecting toys from Walmart, building briquette presses in PVC, and vetting ideas in tin cans.</p>

    <p>There was an open, social aspect to the design. We tested outside almost every other day for three months. We would get to tell the story of our work all the time. We found that people loved the project; it was a chance to experience the pleasure of Heidegger’s <em>zuhanden</em>. </p>

    <p>By the end of the semester, we had entered a business plan competition with a Cameroonian, consulted with native Bolivians, helped design a foldable stove for emergency relief, and run a two-day event to promote the engineering of appropriate technology.</p>
    
    <p>The images displayed here are a selection of the representations prepared by members of the interdisciplinary team during the design process. The diversity of media was key to our success: digital media for sharing (my specialty), CFD simulation, rapid marker sketches, and comic book storyboards.</p> 
    
    <h4>product</h4>
    
    <p>The result was a stove that could burn rice husk for over 20 minutes without tending. No other stove in the world is capable of this without assistance from a battery-powered fan. It was made entirely from material available in Nicaragua.</p>
    
    <p>The road from invention to product deployment is long, and we made a lot of progress from a 10% reliable prototype to one that was nearly ready to send to Villa Catallina. The work is currently undergoing refinement for a pilot project by the NGO Amigos for Christ.</p>
</div>

{% endblock %}