<div id="bio">
    <h1>Marc Par&eacute;</h1>
</div>

<div id="now">
    <p>currently: in and around Da Lat, Vietnam chasing a thread started by a little design project.
    <br />
&rarr; <a href="letters.html">the rest of the story...</a></p>
</div>

<div id="nav">
    <ul>
    <li><a href="index.html">about</a></li>
    <li><a href="cv.html">CV</a></li>
    <li><a href="travel.html">travel</a></li>
    <li><a href="portfolio.html">portfolio</a></li>
    </ul>
</div>

<div id="contact">
    <h1>contact</h1>
    <ul>
    <li><a href="mailto:mpare@gatech.edu">email</a></li>
    <li><a href="http://www.twitter.com/marc_pare">twitter</a></li>
    <li><a href="http://www.linkedin.com/pub/marc-antoine-pare/9/312/480">linkedin</a></li>
    <li><a href="http://srl.gatech.edu/Members/mpare/contact">research lab</a></li>
</div>

<div>
    <h1>etc.</h1>
    <ul>
    <li><a href="http://www.github.com/marcpare">github</a></li>
    <li><a href="http://www.prism.gatech.edu/~mpare3/portfolio/">web design portfolio</a></li>
    <li><a href="http://www.teamcurious.com">team curious</a></li>
    <li><a href="http://www.smallredtile.com/">small red tile</a></li>
    <li><a href="http://www.notwandering.com">blog</a></li>
    </ul>
</div>
