{% extends "skeleton/_body.html" %}
{%hyde
    title: "CV : Marc Pare"
    created: 2010-05-30
    listing: True
%}

{% block content_body %}

<h1>// curriculum vitae</h1>
<p>Below is a long-form version of my CV.</p>
<ul>
    <li>PDF of long-form</li>    
    <li><a href="media/pdf/marcpare2011.pdf">PDF of short-form (one page)</a></li>    
</ul>

<div id="cv">
<h1 id="cv-name">Marc Par&eacute;</h1>

<h3>education</h3>

<ul>
    <li class="blockitem">
        <p><h4>Georgia Institute of Technology</h4></p>
        <p>Bachelor of Science in Mechanical Engineering <span class="date">&mdash; December 2010</span></p>
        <ul class="decorated">
            <li>GPA: 3.76</li>
            <li>Honors Program</li>
            <li>International Plan</li>
        </ul>
    </li>
    
    <li class="blockitem">
        <p><h4>Georgia Tech Lorraine</h4></p>
        <p>Metz, France <span class="date"> &mdash; 8/2008&ndash;12/2008</span></p>
        <p>Study Abroad Term</p>
    </li>

    <li class="blockitem">
        <p><h4>Universit&eacute; de Technologie de Compi&egrave;gne</h4></p>
        <p>Compi&egrave;gne, France <span class="date"> &mdash; 1/2009&ndash;7/2009</span></p>
        <p>Study Abroad Term</p>
    </li>
    
</ul>

<h3>employment</h3>
<ul>
    <li class="blockitem">
        <h4>NASA Jet Propulsion Lab</h4><p>Pasadena, CA <span class="date"> &mdash; 7/2010&ndash;9/2010</span></p>
        <p><em>Flight Software Systems Engineering and Architecture Group Intern</em></p>
        <ul class="decorated">
            <li>Developed software to link mechanical CAD data to formal ontological representations.</li> 
            <li>Implemented network architecture for 
            performing rich queries of such model data for automated verification of design requirements.</li>
        </ul>
    </li>
    <li class="blockitem">
        <h4>AREVA Nuclear Power</h4><p>Paris, France <span class="date"> &mdash; 7/2009&ndash;12/2009</span></p>
        <p><em>Integration of Control Systems Intern</em></p>
        <ul class="decorated">
            <li>Built tools in Python for automated report generation to be maintained by non-programmers</li>
            <li>Translated over 500 pages of French technical documentation to English</li>
        </ul>
    </li>
    <li class="blockitem">
        <h4>Silentale</h4><p>Paris, France <span class="date"> &mdash; 10/2009&ndash;12/2009</span></p>
        <p><em>Consultant</em></p>
        <ul class="decorated">
            <li>Worked with lead developer to scale backend of data-intensive Ruby on Rails application</li>
            <li>Evaluated NoSQL data stores</li>
            <li>Designed features and improvements for site</li>
            <li>Communicated in French</li>
        </ul>
    </li>
    <li class="blockitem">
        <h4>Shaw Industries</h4><p>Dalton, GA </p>
        <p><em>Computer Integrated Manufacturing Intern</em> <span class="date"> &mdash; 5/2008&ndash;8/2008</span></p>
        <ul class="decorated">
            <li>Wrote and deployed SQL Reporting Services reports for managers summarizing data collected from PLC sensors</li>
            <li>Built demonstration application in VB.NET to drive a motor over TCP/IP</li>
        </ul>
        
        <p><em>Information Services Intern</em> <span class="date"> &mdash; 5/2007&ndash;8/2007</span></p>
        <ul class="decorated">
            <li>Built internal website to summarize various Business Services data</li>
        </ul>
    </li>
    <li class="blockitem">
        <h4>Georgia Institute of Technology</h4><p>Atlanta, GA <span class="date"> &mdash; 1/2007&ndash;5/2008</span></p>
        <p><em>CS 1371, Computing for Engineers Teaching Assistant</em></p>
        <ul class="decorated">
            <li>Hired as a freshman</li>
            <li>Held Help Desk hours, taught weekly recitations, led 100+ person review sessions</li>
        </ul>
    </li>
</ul>

<h3>research</h3>
<ul>
    <li><h4>Laboratory for Ultrasonic Nondestructive Evaluation</h4>
        <p>Metz, France <span class="date"> &mdash; 8/2008&ndash;12/2008</span></p>
        <ul class="decorated">
            <li>Developed finite-element analysis model for ultrasonic wave propagation through solid media</li>
        </ul>
    </li>
    <li><h4>Systems Realization Laboratory</h4>
        <p>Atlanta, GA <span class="date"> &mdash; 1/2010&ndash;present</span></p>
        <ul class="decorated">
            <li>Formulated mathematical programming model (GAMS language) for fuel efficiency optimization of hydraulic drive train architecture</li>
            <li>Built distributed application to automate analysis generation, execution, and visualization</li>
            <li>Funded by President's Undergraduate Research Award</li>
        </ul>
    </li>
</ul>

<h3>distinctions</h3>
<ul>
    <li class="blockitem"><p>Awarded various scholarships and grant funding (total over $25,000) for academic excellence, international studies, and research.</p></li>
    <li class="blockitem"><h4>Microsoft Imagine Cup&mdash;Mashup Category World Champion</h4>
        <p>Cairo, Egypt<span class="date"> &mdash; Two-person team &mdash; 7/2009</span></p>
        <ul class="decorated">
            <li>Won by producing a web mashup that used Natural Language Processing algorithms to create inspiring narratives based on news stories</li>
            <li>Only application that advanced all 8 United Nations Millennium Development Goals</li>
            <li>Employed XML, JSON, Java Servlets, PHP, MySQL, and AJAX.</li>
        </ul>
    </li>
    <li class="blockitem"><h4>ACM International Collegiate Programming Contest World Finalist</h4>
        <p>Banff, Alberta <span class="date"> &mdash; Three-person team &mdash; 4/2008</span></p>
        <ul class="decorated">
            <li>Over 300,000 students worldwide compete for 300 World Finalist spots</li>
        </ul>
    </li>
    <li class="blockitem"><h4>Mechanical Engineering Senior Design Expo&mdash;3rd Overall</h4>
        <p>Six-person team &mdash; <span class="date">12/2010</span></p>
        
        <ul class="decorated"><li>Design of an improved cookstove for rural Nicaragua on an interdisciplinary team of Mechanical Engineers and Industrial Designers.</li></ul>
    </li>
    <li class="blockitem"><h4>GT Sandia Labs Engineering Design Challenge Champion</h4>
        <p><span class="date">Three-person team &mdash; 4/2010</span></p>
        
        <ul class="decorated"><li>Designed cyber-security solution for novel problem</li></ul>
    </li>
    <li class="blockitem"><h4>Advanced-Mid Proficiency in French by American Council on the Teaching of Foreign Languages</h4></li>
    
    <li class="blockitem"><h4>Pi Tau Sigma, Tau Beta Pi Honors Societies</h4>
    <ul class="decorated"><li>Admitted during my third semester of studies</li></ul>
        
    </li>
</ul>

<h3>leadership &amp; outreach</h3>
<ul>
    <li>
        <h4>Wiser Tuesday Organizer<span class="date"> &mdash; 7/2009&ndash;12/2009</span></h4>
        <p>Helped found networking events in Paris for people interested in using technology for social change. Based events on "Barcamp" model. Currently over 150 members in Meetup group.</p>
    </li>
    <li>
        <h4>Freshman Council Sophomore Advisor<span class="date"> &mdash; 8/2007&ndash;5/2008</span></h4>
        <p>Selected as one of five advisors for the most selective freshman leadership organization at Georgia Tech. Organized interviews, retreats, and team building activities for thirty freshman leaders.</p>
    </li>
    <li>
        <h4>TEAM Buzz Community Service Day Steering Committee<span class="date"> &mdash; 2008, 2009</span></h4>
        <p>Completely revamped and operated website to manage registration for two consecutive years. Served about 4000 registrations for over 80 projects.</p>
    </li>
    <li>
        <h4>Honors Program Retreat Leader<span class="date"> &mdash; 8/2007</span></h4>
    </li>
</ul>

</div>
    
{% endblock %}