{% extends "skeleton/_body.html" %}
{%hyde
    title: "Marc Pare"
    created: 2010-05-30
    listing: True
%}

{% block content_body %}

<img style="float:right; padding: 15px; padding-top: 0px" src="media/images/euro.jpg" />
<p>I&rsquo;m a senior Mechanical Engineering student at the Georgia Institute of Technology. My education has included four internships, research in two GT labs, and work as a Teaching Assistant. I've made it to the world finals of two of the world&rsquo;s largest competitions in computing: the ACM ICPC and Microsoft&rsquo;s Imagine Cup. <a href="cv.html">My CV</a> lists the rest of my professional qualifications.</p>

<p>
I am interested in examining the relationship that human beings have to technology in order to shape tomorrow's innovation for the better. This innovation should not be limited to the traditional avenues of bigger and faster for the developed world, but should reach out to the developing world with solutions that are simpler and more human. To realize this, I am looking to press up against the interface between my technical expertise in engineering and computer science and the work of artists, businessmen, and entrepreneurs. I would work on a project funded by <a href="http://www.nsf.gov/crssprgm/cdi/">these grants</a> in a heartbeat.
</p>
    
<p>I seek inspiration (and relaxation!) from pursuits outside of technology. I play racquet sports (tennis, racquetball, ping-pong), run, and toss frisbee discs. Culture and travel fascinate me. I spent a year and a half working and studying in France&mdash;learning French, tasting wine, traveling across Europe, exploring art and design, and feeling self-conscious about fashion in Paris. Some of my favorite trips so far have been to Sao Paulo, Banff, Cairo, and Budapest.</p>

<p>Now, I am doing freelance software work and humanitarian design engineering in Vietnam. You can <a href="letters.html">read more about it</a>, if you're curious.</p>

{%endblock%}