{% extends "skeleton/_body.html" %}
{%hyde
    title: "Marc Pare"
    created: 2010-05-30
    listing: True
%}

{% block content_body %}

<img style="float:right; padding: 15px; padding-top: 0px" src="media/images/euro.jpg" />
<p>I'm a senior Mechanical Engineering student at the Georgia Institute of Technology. My education has included four internships, research in two GT labs, and work as a Teaching Assistant.  <a href="cv.html">My CV</a> lists the rest of my professional qualifications.</p>
<p>I'm passionate about using technology to better understand the world around us. I am looking for a PhD program to explore the research questions related to the problems at the intersection of computer science, engineering, and human-computer interaction. My particular interests include artificial intelligence, algorithms, engineering systems, large-scale &amp; distributed computation, mathematical programming, and natural language processing. I would work on a project funded by <a href="http://www.nsf.gov/crssprgm/cdi/">these grants</a> in a heartbeat.</p>
<p>I seek inspiration (and relaxation!) from pursuits outside of technology. I play racquet sports (tennis, racquetball, ping-pong), run, and toss frisbee discs. Culture and travel fascinate me. I spent a year and a half working and studying in France&mdash;learning French, tasting wine, traveling across Europe, exploring art and design, and feeling self-conscious about fashion in Paris. Some of my favorite trips so far have been to Sao Paulo, Banff, Cairo, and Budapest.</p>

{%endblock%}