{% extends "skeleton/_body.html" %}
{%hyde
    title: "MDG Actors : Marc Pare"
    created: 2010-05-30
    listing: True
%}

{% block content_body %}

<h1>// portfolio / MDG actors</h1>

<div class="picture-bar">
    <img src="media/images/portfolio/mdg-main.png">
    
    <img src="media/images/portfolio/mdg-1-small.png" />
    <img src="media/images/portfolio/mdg-2-small.png" />
    <img src="media/images/portfolio/mdg-3-small.png" />
    <img src="media/images/portfolio/mdg-4-small.png" />
    <img src="media/images/portfolio/mdg-5-small.png" />
</div>

<div class="right-bar">
    <h2>MDG Actors</h2>
    <p>Inspiration to act on the Millenium Development Goals. Online at <a href="http://www.teamcurious.com/actors">teamcurious.com/actors</a>. <a href="http://www.imaginecup.com/about/history/IC-2009/2009_mashup_first-place">World champions</a> at the 2009 Imagine Cup.</p>
    
    <h4>inspiration</h4>
    <p>The growth of the Internet has made an extraordinary amount of information available to anyone in the world. However, with so much information, it has become increasingly difficult to discover value. The demand for connection with inspiring people is demonstrated by TED's success; the MDG actors mashups sought to tap into that same demand.</p>
    
    <h4>execution</h4>
    <p>Natural language processing is the heart of the work. The source of content for analysis is different for each of the three mashups&mdash;ranging from Google News searches to Twitter updates. Each of our three mashups—MDG Actors, How Does Twitter Feel?, and Show Me Spin—has its own unique form for presenting this enriched data. All of them, however, use sentiment analysis to connect the otherwise static content to human feeling. The ultimate goal is provide content that connects better with users since it takes into account human emotion.</p>
    
</div>

{% endblock %}