{% extends "skeleton/_body.html" %}
{%hyde
    title: "Travel : Marc Pare"
    created: 2010-05-30
    listing: True
%}

{% block content_body %}

<h1>Projects &amp; Diversions</h1>

<p>(in progress)</p>

<div class="boxarray">
    <div class="elem"><p>Team Curious</p></div>
    <div class="elem"><p>Speaking on Pen Spinning and Online Community Management</p></div>
    <div class="elem"><p>Campus MovieFest 2008, 2010</p></div>
    <div class="elem"><p>Mandelbrot Set in MATLAB</p></div>
    <div class="elem"><p>Ray Casting Engine in MATLAB</p></div>
    <div class="elem"><p>Exploring the Duality of Support Vector Machines</p></div>
    <div class="elem"><p>Promoting Undirected Thinking through Interactive Fiction</p></div>
    <div class="elem"><p>Improved Cook Stove Heat Transfer Optimization</p></div>
    <div class="elem"><p>Modeling Ship Hull Response to an Underwater Mine Explosion</p></div>
    <div class="elem"><p>Finite Element Analysis of an Airplane Hull</p></div>
    <div class="elem"><p>A French Online Store</p></div>
    <div class="elem"><p>ME 2110 Device</p></div>
    <div class="elem"><p>Freelance web development</p></div>
    <div class="elem"><p>Tennis Club National Championships</p></div>
    <div class="elem"><p>BDE Ping Pong Finalist</p></div>

</div>


{% endblock %}