{% extends "skeleton/_body.html" %}
{%hyde
    title: "Travel : Marc Pare"
    created: 2010-05-30
    listing: True
%}

{% block content_body %}

<h1>// travel</h1>
<p>Some of the places I've been in the last few years. A sample of photos doesn't really do justice to the experience of travel, interaction with culture, or the serenity of nature. Maybe, though, you've been to some of the places I have, and we can share a conversation.</p>

<p><a href="#banff">Banff</a> | <a href="#saopaulo">Sao Paulo</a> | <a href="#cairo">Cairo</a> | <a href="#europe">Europe</a> | <a href="#paris">Paris</a></p>

<h2><a name="banff">Banff, Alberta</a></h2>
<p>IBM put me, two buddies from the algorithm team, and our coach up in a castle for a week before the ACM ICPC.</p>

<div class="imagebox">
    <img width="650px" src=media/images/banff/castle.jpg />
    <p>Where we stayed.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/banff/glacier.jpg />
    <p>Apparently walking on a glacier is rather dangerous.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/banff/punk.jpg />
    <p>I was still a punk sophomore on this trip.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/banff/tired.jpg />
    <p>Tired after hiking (or dog-sledding? Can't remember).</p>
</div>


<h2><a name="saopaulo">Sao Paulo, Brazil</a></h2>
<p>A Brazilian friend from Freshman Council treated us to a week at her homes in Brazil. It was unreal.</p>

<div class="imagebox">
    <img width="650px" src=media/images/brazil/boat.jpg />
    <p>We ended up on a secluded island after this boat trip.</p>
</div>

<h2><a name="cairo">Cairo, Egypt</a></h2>
<p>Ancient history juxtaposed with third-world life. I was overwhelmed for the week I spent there. Also, Microsoft footed the bill for this trip to Africa.</p>

<div class="imagebox">
    <img width="650px" src=media/images/cairo/city.jpg />
    <p>A view of the city from the top of a mosque.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/cairo/pool.jpg />
    <p>Last minute prep by the pool.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/cairo/pyramids.jpg />
    <p>An obligatory pyramid shot with Kathy (my partner in crime at the event).</p>
</div>

<h2><a name="europe">Dozens of cities in Europe</a></h2>
<p>I traveled to a new city every weekend for three months while studying in Metz, France. </p>
<div class="imagebox">
    <img width="650px" src=media/images/europe/amsterdam.jpg />
    <p>Sampling pickled herring in Amsterdam. At least it's healthy for you.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/europe/amsterdam2.jpg />
    <p>A familiar site in Europe: a huge, open square, milling with tourists and locals alike.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/europe/borgogne.jpg />
    <p>A meal from a farmer's market in Bourgone, France. Later that day, I would have my greatest wine-tasting triumph ever at a local <em>cave</em>.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/europe/bruges.jpg />
    <p><em>Gaufres</em> make the world go round in Bruges.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/europe/budapest.jpg />
    <p>The sprawl of Budapest.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/europe/england.jpg />
    <p>Late night with my little sister in England.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/europe/luxembourg.jpg />
    <p>Maps grew to be trusted friends.</p>
</div>
<div class="imagebox">
    <img width="650px" src=media/images/europe/nice.jpg />
    <p>In Nice, at <em>Carnaval.</em> It was an eight-year old that sprayed me in this picture.</p>
</div>


<h2><a name="paris">Paris, France</a></h2>
<p>My home for 5 months while at an internship with AREVA, Nuclear Power. Not really a trip, more like a dream: I lived in the neighborhood that <em>Am&eacute;lie</em> was set in.</p>

<div class="imagebox">
    <img width="650px" src=media/images/paris/sofa.jpg />
    <p>My apartment was up that street. Four friends are helping me carry a couch up the flights of tiny stairs. And that's <em>Montmartre</em> in the background.</p>
</div>


{%endblock%}