{% extends "skeleton/_body.html" %}
{%hyde
    title: "rough draft : Marc Pare"
    created: 2010-05-30
    listing: True
%}

{% block content_body %}

<h1>// portfolio / rough draft</h1>

<div class="picture-bar">    
<object width="420" height="250"><param name="movie" value="http://www.youtube.com/v/Zv8joekn-8A?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Zv8joekn-8A?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="420" height="385"></embed></object></div>


<div class="right-bar">
    <h2>rough draft</h2>
    <p>an independent film shown at the Georgia Tech finale for Campus Movie Fest. </p>
    
    <h4>inspiration</h4>
    
    <p>A writer faces the reality of how his art fits into the equation of business. His struggle with identity collapses when his book deal falls through. Does he overcome it?</p>
    
    <p>Primarily a chance to play with filming technique as a reflection of the character's internal state.</p>
    
    <h4>the team</h4>
    
    <p>My good friends Kento and Keyan reconnect each January by staying up all night for a week making a film for Campus Movie Fest. We've been shown every time we've entered; this was our latest work.</p>
    
    <p>Keyan focuses on story and music direction, Kento on camera work, and I fill in the rest of the holes. In this piece, I orchestrated the prop work that made the filming in one continuous shot possible. There are 6 people in the room with Keyan; it was quite an interesting bit of choreography to keep them out of the frame.</p>
    
</div>

{% endblock %}


