{% extends "skeleton/_body.html" %}
{%hyde
    title: "separate char : Marc Pare"
    created: 2010-05-30
    listing: True
%}

{% block content_body %}

<h1>// portfolio / separate char</h1>

<div class="picture-bar">    
    <img src="media/images/portfolio/sepchar-2.png" />
    <img src="media/images/portfolio/sepchar-1.png" />
    
    <img src="media/images/portfolio/sepchar-3.png" />
</div>

<div class="right-bar">
    <h2>separate char</h2>
    <p>a rapidly built iPhone &amp; Python app to automate a tedious experiment. Source on <a href="https://github.com/marcpare/separatechar">github</a>.</p>
    
    <h4>story</h4>
    
    <p>I spent a week in the Oregon woods with the Aprovecho Research Center working on improved cook stove technology in the summer of 2010. It seemed about as far from digital culture as one could get. But there's always opportunity to computational thinking.</p>
    
    <p>A particularly tedious experiment we ran would involve manually separating burnt fuel from unburnt fuel. I snapped a photo of the separating tray with my phone, then wrote Python script to count the number of uncharred pixels. With a fuel of known density, the resulting weight could easily be calculated.</p>
    
    <p>(The pictures here are of coffee husk pellets, which burn quite well.)</p>
</div>

{% endblock %}