html, body {
	padding: 0;
	margin: 0;
}
div, p {
	margin: 0;
}

#content {
	margin: 0 auto;
	width: 740px;
	background: #eee;
	
	border: 20px solid #eee;
}

.row {
	width: 740px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 20px;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6 {
	float: left;
	margin: 0 10px;
	padding: 0px;
	overflow: hidden;
	display: inline;
}

.column-1 {
	width: 100px;
}
.column-2 {
	width: 220px;
}
.column-3 {
	width: 340px;
}
.column-4 {
	width: 460px;
}
.column-5 {
	width: 580px;
}
.column-6 {
	width: 700px;
}

/* typography */

p, ul {
	margin-bottom: 10px;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	padding-left: 10px;
	margin-top: 35px;
	margin-bottom: 10px;
}

a {
	border-bottom: 1px dotted #FF6600;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	border-bottom: 1px solid #FF6600;
}

.small-caps {
	text-transform: uppercase;
}

/* end typography */

/* header  */

#header {
	background: #0B1728;
	color: white;
	text-align: center;
	border-bottom: 8px solid #FF6600;
}
#wrench-container {
	padding: 40px 0px;
	margin-bottom: 0px;
}
#header h1 {
	font-size: 24px;
	font-family: Georgia, serif;	
	font-weight: bold;
	margin: 0px;
}
#header h2 {
	font-size: 16px;
	font-family: Georgia, serif;
	font-variant: small-caps;
	font-weight: bold;
	margin: 0px;
}
#header .quiet {
	font-style: italic;	
	font-variant: normal;
	font-weight: normal;
	color: #535D6C;
}
#header h3 {
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	color: #535D6C;
	font-weight: normal;
	padding-bottom: 10px;
}

/* end header  */

/* footer */

#footer {
	background: #FF6600;
	padding-bottom: 30px;
	padding-top: 20px;
}

/* end footer */

#examples p {
	background: #0B1728;
	color: white;
	padding: 10px;
	font-size: 11px;
	line-height: 16px;
}
#examples p a {
	color: #FF6600;
	border: none;
}
#examples p a:hover {
	text-decoration: underline;
}